[data-type="procoders-block/list"] {
    ul {
        list-style:none;
        --my-css-var: #C11F5A;
    }
    li {
        position: relative;
        &:before {
            content: "•";
            position: absolute;
            color: var(--my-css-var);
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}